/*------------  Fonts  ----- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




/* -----      common style    --------- */
a {
    text-decoration: none;
}
.bebas-font {
    font-family: 'Bebas Neue', cursive;
}
.penguin-shadow {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}


.green-text {
    color: #A4BC46;
}
.green-bg {
    background-color: #A4BC46;
}


.yellow-text {
    color: #FABE4C;
}
.yellow-bg {
    color: #FABE4C;
}
/*  ------------   --------- */

